{% extends "personal/header.html" %}

{% block content %}
{% include "personal/includes/menu.html" %}
<div class="container mt-5 pb-5">
    <div class="col-6" style="text-align: center; margin: auto; box-shadow: 10px 10px 15px gray; border-radius: 50px; border: 0px solid black; padding: 80px; height: 600; background-color: white;">

        <form action="/" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-default" value="Submit"/>
        </form>
    </div>
</div>

{% endblock %}